html,
body {
    margin: 0;
    padding: 0;
}

/*VHS font styling*/
@font-face {
    font-family: 'VCR OSD Mono';
    src: url('fonts/VCR_OSD_MONO_1.001.ttf');
}

/*Social icons styling*/
.fa-brands {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

h2 {
    padding: 40px 0;
}

/*Styles for everything*/
* {
    color: white;
    font-family: VCR OSD Mono, Arial, Helvetica, sans-serif;
}

/*       Header styles       */
header {
    display: flex;
    flex-direction: column;
    padding-bottom: 400px;
    position: relative;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;

    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.header-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*naviation styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
}

.logo {
    width: 100px;
    height: auto;
    border-radius: 40%;
}

.social-icons li {
    display: inline;
}

/*non-navigation header styles*/
.main-title {
    text-align: center;
    font-size: 3em;
    margin-top: 100px;
}

.buy-now-link {
    text-align: center;
    font-size: 2em;
}

/*Main content styling*/
main {
    background-color: #1b1b1b;
}
.top-to-bottom-radient {
    background-image: linear-gradient(black, #1b1b1b);
    padding-top: 200px;
}
.bottom-to-top-radient {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(#1b1b1b, black);
}
main h2 {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}
main video {
    display: block;
    margin: 0 auto;
}

/*features styling*/
.features {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
}
.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}
.feature-text, .feature-img {
    width: 40%;
    margin: 0 auto;
    display: block;
}
.feature-img {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10%;
}

/*Meet the team styling*/
.meet-the-team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}
.meet-the-team figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 20px;
    width: 200px;
}
.meet-the-team img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    padding-bottom: 20px;
}

/*Footer styling*/
footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 100px;
}