/*VHS font styling*/
@font-face {
    font-family: 'VCR OSD Mono';
    src:  url('fonts/VCR_OSD_MONO_1.001.ttf');
    
  }

/*Styles for everything*/
* {
    background-color: black;
    color: white;
    font-family: VCR OSD Mono, Arial, Helvetica, sans-serif;
}

/*       Header styles       */
header {
    margin-bottom: 200px;
    border-bottom: 1px solid grey;
}
/*Naviation styles*/
nav {
    
}
.inner-header {
    display: flex;
    justify-content:space-between;
}
.inner-header img {
    width: 100px;
    height: auto;
}

.social-icons li{
    display: inline;
}
/*****************/  

header h1 {
    text-align: center;
    font-size: 3em;
}
header p {
    text-align: center;    
    font-size: 2em;
}


/***********************/

.fa-brands{
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}